body{
  width:100%;
  padding:0;
  margin:0;
}

#nav{
  width:100%;
  padding:0%;
}
.container{
  width:100% !important;
  background-color: grey;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
  padding:0;
}

.container2{

}

#header{
  text-align: center;
  float:right;
  color:white;
}


#about-section{
  background-color:#d5dae2;
  text-align: justify;
  padding:5%;


}

#video-section{
  background-color:#e2d5e0;
  text-align: justify;
  padding:5%;


}


#set-section{
  background-color:#d6e2d5;
  text-align: justify;
  padding:5%;


}


.song-list{
  list-style: none;
  text-align: center;
}


#contact-section{
  background-color:#d8d5e2;
  text-align: justify;
  padding:5%;


}



#services-section{
  background-color:#edc7ea;
  text-align: justify;
  padding:5%;


}

#footer{
  background-color:#d5d9e2;
  text-align: justify;
  padding:5%;


}


/*----------------------------new css--------------->
video {
  width: 100%    !important;
  height: auto   !important;
}

/*--------------------------colours*/



.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.3);
    height: 50px;
}


.bg-primary{
    background-color:#7626EE;
}


#nav li{
  padding: 0;
}

.ui-menu-color-home{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
    
}

.ui-menu-color-home a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
}



.ui-menu-color-band{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.ui-menu-color-band a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
    

}



.ui-menu-color-video{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.ui-menu-color-video a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
}



.ui-menu-color-setlist{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.ui-menu-color-setlist a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
    
}



.ui-menu-color-reviews{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
}

.ui-menu-color-reviews a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
      
}





.ui-menu-color-contact{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0px;
    
}

.ui-menu-color-contact a  {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    
    
    
}





  


header {
  padding: 150px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

@media (min-width: 300px) {
  img {
    height: 230px;
  }
}


@media (min-width: 600px) {
  .mainimage {
    height: 300px;
  }
}
@media (min-width: 800px) {
  .mainimage {
    height: 400px;
  }
}
@media (min-width: 1333px) {
  .mainimage{
    height: 400px;
  }
}



.social-links{
    padding-bottom: 15px;
    padding-top: 5px;
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links li a i:hover{
    background: purple;
}

#footer-details {
    margin:20px;
}