@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
/*--------------------------colours*/

/*.hero{
    background:url("../images/band1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;*/
    

/*--------------------------heading*/

/*container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #ffffff;
    background: #121212;
   
}

.name{
    font-size: em(40)
    margin-bottom: .2em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 46px; 
    margin-top: 50px;
}

.title{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 200;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.hero-copy{
    padding-top: 8.5em;
    text-align: center;
    color: #ffffff;
}-----------------original css*/

header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}


.name{
    font-size: em(40)
    margin-bottom: .2em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 46px; 
    margin-top: 0px;
    text-align: center;
}

.title{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 300;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
}

.hero{
    background:url("../images/band1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;*/



body {
 margin: 0px;
}






























