@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700');
/*--------------------------colours*/

/*.hero{
    background:url("../images/band1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;*/
    

/*--------------------------heading*/

/*container{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

body {
    color: #ffffff;
    background: #121212;
   
}

.name{
    font-size: em(40)
    margin-bottom: .2em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 100;
    font-size: 46px; 
    margin-top: 50px;
}

.title{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 200;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.hero-copy{
    padding-top: 8.5em;
    text-align: center;
    color: #ffffff;
}-----------------original css*/

/*--------------------------Video Page*/

video {
  width: 100%    !important;
  height: auto   !important;
}

/*--------------------------colours*/

.hvr-sweep-to-bottom:before{
    background: rgba(0, 0, 0, 0.2);
    height: 50px;
}


.bg-primary{
    background-color:#7626EE;
}


.ui-menu-color-home{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
    
}

.ui-menu-color-home a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;
    
}

.ui-menu-color-band{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
}

.ui-menu-color-band a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;

}

.ui-menu-color-video{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
}

.ui-menu-color-video a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;
}

.ui-menu-color-download{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
}

.ui-menu-color-download a{
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;
}

.ui-menu-color-testimonials{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
}

.ui-menu-color-testimonials a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;
}

.ui-menu-color-contact{
    background-color: #49494b;
    height: 50px;
    text-align: center;
    padding: 0;
}

.ui-menu-color-contact a {
    width: 100%;
    text-decoration: none;
    color: #ffffff;
    height: 50px;
}

header {
  padding: 150px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 150px 0;
}

/*--------------------------About Page*/
.carousel .item {
height: 400px;
}

.name{
    font-size: em(40)
    margin-bottom: .2em;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
    font-weight: 500;
    font-size: 46px; 
    margin-top: 0px;
    text-align: center;
}

.title{
    margin: auto;
    margin-bottom: 3em;
    font-weight: 300;
    line-height: 1.4em;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    text-align: center;
}

.hero{
    background:url("../images/band1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    
}



body {
 margin: 0px;
}

#nav li{
    padding: 0;
    
}

.menuitem a{
   width: 100%;
   text-decoration: none;
   color: #ffffff;
   height: 120px;
}

.ui-menu-color-home {
    padding-top: 22px;
    display: block;
    color: #fafafa;
    font-size: 26px;
    
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}

#Band{
    background-color: #F1EEF9;
    height: 100%;
    position: absolute;
}
    
.Contact-section{
    background-color: #F1EEF9;
}























