body{
  width:100%;
  padding:0;
  margin:0;
}



#nav{
  width:100%;
  padding:0%;
  margin-top: 0px;
  overflow: hidden;
}
.container{
  width:100% !important;
  background-color: grey;
  margin-top:5%;
  margin-bottom:5%;
  margin-left:5%;
  margin-right:5%;
  padding:0;
}

.container-fluid.header{
  background-color: black;
  padding:0;

}

.rounded-circle.backing{
  background-image: url("assets/images/backing.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-clip: padding-box;
}
/*-----------------------reviews----------------------*/

.picture1{
  
}

.picture2{
  
  margin-top: -20px;
  margin-bottom: 20px;
  
  
}

.picture3{
  margin-top: -20px;
  height:;
}

.picture4{
  margin-left: px;
  margin-right: px;
  height: ;
  
}

.picture6{
  margin-bottom: 0px;
}
.btn-primary{
  color: black;
  background-color: #fafa;
  border: none;
  
}

#header{
  text-align: center;
  float:right;
  color:white;
}

.heading{
  color: #e2d5e0;
  padding-bottom: 5px;
}

.reviews-section{
  background-color: #d8d5e2; 
  margin-top: -30px;
  text-indent: 30px;
  
}

.card-text{
  text-indent: 0px;
}


#about-section{
  background-color:#d5dae2;
  text-align: justify;
  padding:5%;


}

#video-section{
  background-color:#e2d5e0;
  text-align: justify;
  padding:5%;


}


#set-section{
  background-color:#d6e2d5;
  text-align: justify;
  padding:5%;


}


.song-list{
  list-style: none;
  text-align: center;
}


#contact-section{
  background-color:#d8d5e2;
  text-align: justify;
  padding-left:10%;
  padding-right: 10%;
  padding-top: -10%;
  margin-left: -65px;
  margin-right: -65px;


}



#services-section{
  background-color:#edc7ea;
  text-align: justify;
  padding:5%;


}
/*----------------------------footer---------------*/>

#footer{
  background-color:#d5d9e2;
  text-align: justify;
  padding:5%;


}

.footercolor{
  background-color:#e2d5e0;
}

.text-center{
  background-color:#e2d5e0;
}

.sociallinks{
  
  font-size: 20px;
  color: #261735;
  font-family: Roboto;
  font-weight: bold;
}


.phonenumber{
  font-size: 20px;
  color: #261735;
  font-family: Roboto;
  font-weight: 700;
}

.emailaddress{
  font-size: 20px;
  color: #261735;
  font-family: Roboto;
  font-weight: 700;
}
.mail-block{
  color:black;
  text-decoration: none;
  
}

/*----------------------------new css--------------->
video {
  width: 100%    !important;
  height: auto   !important;
}

/*--------------------------colours*/



.hvr-fade:hover{
    background-color: #fafa; 
    background: rgba(0, 0, 0, 0.3);
    height: 50px;
    
}




#nav li{
  padding: 0;
  
}
/*-----band page ----*/





.ui-menu-color-home{
    background-color: #49494b; 
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
}

.ui-menu-color-home a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    border-right: solid .2px;
    border-color: black;
    
}



.ui-menu-color-band{
    background-color: #49494b; 
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
}

.ui-menu-color-band a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    

}



.ui-menu-color-video{
    background-color: #49494b;
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
}

.ui-menu-color-video a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    
}



.ui-menu-color-setlist{
    background-color: #49494b;
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
}

.ui-menu-color-setlist a{
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    
    
}



.ui-menu-color-reviews{
    background-color: #49494b;
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
}

.ui-menu-color-reviews a {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    
      
}





.ui-menu-color-contact{
    background-color: #49494b;
    height: 52px;
    text-align: center;
    padding: 0px;
    border: solid .5px;
    border-color: black;
    
}

.ui-menu-color-contact a  {
    width: 100%;
    text-decoration: none;
    color: #fafafa;
    height: 50px;
    padding-top: 12px;
    padding-right: 10px;
    display: block;
    height: 50px;
    font-size: 19px;
    background-color: #261735;
    
    
    
}

html{
  background-color: black;
}



div.container-fluid.header{
  padding: 0;
}  


header {
  padding: 150px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
}

section {
  padding: 50px 0;
}

@media (min-width: 300px) {
.heading {
   font-size: 22px;
   padding: 5px;
  }
    /*<!--height: 230px;*/
  }
}


@media (min-width: 600px) {
  .mainimage {
    height: 300px;
    padding-left: 50px;
    padding-right: 60px;
  }
  .heading {
   font-size: 28px;
   padding: 5px;
  } 
}

@media (min-width: 700px) {
  .mainimage {
    height: 300px;
    padding-left: 60px;
    padding-right: 70px;
  }
  .heading {
   font-size: 32px;
   padding: 5px;
  } 
}
@media (min-width: 800px) {
  .mainimage {
    height: 400px;
     padding-left: 60px;
     padding-right: 70px;
  }
}
@media (min-width: 1024px) {
  .mainimage{
    height: 500px;
    padding-left: 120px;
    padding-right: 130px;
  }
  .heading {
   font-size: 34px;
   padding: 5px;
  } 
}



.social-links{
    padding-bottom: 15px;
    padding-top: 0px;
    
}

.social-links li a i{
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}


.social-links li a i:hover{
    background: purple;
}

#footer-details {
    margin:20px;
} 


.general-info{
  display: flex;
  justify-content: space-evenly; 
  padding:10px;
  background-color: #FCDFFC;

} 




